/*  your css code here. If applicable */
body{
		display:flex;
	justify-content:center;
	align-items:center;
	height:100%;
	border:1px solid black;
}
#box{
	border: 2px solid black;
	width:200px;
	height:200px;
	background-color:lightblue;
	display:flex;
	justify-content:center;
	align-items:center
}
p{
	margin:0px;
	padding:0px;
	
	/* text-align:center; */
}